.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

/* Optional: Adjust pagination position */
.accr__slider .swiper-pagination {
  bottom: 40px !important;
  /* Adjust based on button height */
}

.accr {
  &__slider {
    .swiper-wrapper {
      align-items: center;

      .swiper-slide {

        // padding-inline: 2em;
        @media (min-width:1550px) {
          width: 29% !important;
          height: 450px;
        }

        // height: 307px !important;
        .accr-crd {
          background-color: var(--primary);
        }

        opacity: 1;

        // transform: scale(0.8);
        &-next,
        &-prev {
          opacity: 1;
          // padding-inline: 4em;
          // width: 300px !important;
        }

        &-next {
          padding-left: 0em;

          @media (max-width:768px) {
            padding-left: 0;
          }
        }

        &-prev {
          padding-right: 0em;

          @media (max-width:768px) {
            padding-right: 0;
          }
        }
      }
    }
  }

  &__title {
    font-size: clamp(1.2rem, 3.5vw, 2.5rem);

    @media (max-width:1400px) {
      font-size: clamp(1.2rem, 3.5vw, 1.9rem);
    }

    @media (max-width:992px) {
      font-size: clamp(0.9rem, 3.5vw, 1.5rem);
    }
  }

  &__desc {
    font-size: clamp(0.8rem, 2vw, 1.25rem);
  }
}

.accr__slider .swiper-wrapper .swiper-slide.accr__slide.swiper-slide-active {
  will-change: transform;
  display: flex;
  opacity: 1 !important;
  z-index: 2;
  min-height: max-content!important;
  @media (min-width:992px) {
    width: 350px;
    min-height: 350px;
  }

  @media (min-width: 1400px) {
    width: 550px !important;
    min-height: 400px !important;
  }



  @media (min-width:1600px) {
    width: 37% !important;
    min-height: 520px !important;
    display: flex;
    align-items: center;
  }

  &::before {
    position: absolute;
    content: "";
    top: -50%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/ola.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(200deg) scaleY(-1);
    opacity: 0.5;
    z-index: 1;
  }

  .accr-crd {
    background-color: #002d28;
  }

  .accr__title {
    font-size: clamp(1.5rem, 4vw, 3rem);

    @media (max-width: 1550px) {
      font-size: 2rem;
    }

    @media (max-width:1400px) {
      font-size: clamp(1.2rem, 10vw, 3rem);
    }

    @media (max-width:992px) {
      font-size: clamp(1.2rem, 3.5vw, 2rem);
    }

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .accr__desc {
    font-size: clamp(1rem, 2.5vw, 1.75rem);

    @media (max-width: 1550px) {
      font-size: 24px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .accr__img {
    transform: scale(1.1);
  }
}

.accr__slider {
  min-height: 24em;

  @media (max-width:768px) {
    min-height: 20em;
  }

  .swiper-slide {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    transform-origin: center center;
  }
}

.accr__slider {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform;
}
.accr__slide {
  height: 500px !important; /* Default height for all slides */
  transition: all 0.4s ease-in-out;
}

.accr__slide.swiper-slide-active {
  height: 530px !important; /* Make the center slide taller */
}

@media (max-width:1400px) {
  .accr__slide {
    height: 450px !important; /* Default height for all slides */
    transition: all 0.4s ease-in-out;
  }

  .accr__slide.swiper-slide-active {
    height: 480px !important; /* Make the center slide taller */
  }
}

@media (max-width:1199px) {
  .accr__slider .swiper-wrapper .swiper-slide.accr__slide.swiper-slide-active .accr__title {
    font-size: clamp(1.2rem, 10vw, 2.5rem);
}
}
@media (max-width:992px) {
  .accr__slide {
    height: 400px !important; /* Default height for all slides */
    transition: all 0.4s ease-in-out;
  }

  .accr__slide.swiper-slide-active {
    height: 430px !important; /* Make the center slide taller */
  }
}
@media (max-width:768px) {
  .accr__slide {
    height: 350px !important; /* Default height for all slides */
    transition: all 0.4s ease-in-out;
  }

  .accr__slide.swiper-slide-active {
    height: 380px !important; /* Make the center slide taller */
  }
}
@media (max-width:450px) {
  .accr__slide {
    height: 400px !important; /* Default height for all slides */
    transition: all 0.4s ease-in-out;
  }

  .accr__slide.swiper-slide-active {
    height: 430px !important; /* Make the center slide taller */
  }
}