:root {
}
.mivi {
    &__wrapper {
        display: flex;
        position: relative;
        // min-height: 500px;
        overflow: hidden;
        max-height: 50dvh;
        @media (min-width:1800px){
            min-height: max-content;
            max-height: 50dvh;
        }
        @media (max-width:768px){
            max-height: 70dvh;
        }
        h3 {
            width: max-content;
        }
        p{
            // min-height: 7em;
            // transition-delay: 0;
            // min-width: 900px;
            // max-width: 40ch;
            height: 100px;
            max-height: 100px;
            transition: none;
            @media (max-width: 768px) {
                // min-width: 100%;
                // max-width: 100%;
                // min-height: 5em;
                // max-height: 5em;
                height: 5em;
                max-height: min-content;
            }
        }
    }
    &__mi {
        transition: .3s all ease-in-out;
        // width: 20%;
    }
    &__vi {
        transition: .3s all ease-in-out;
        // width: 20%;
    }
    &__mibig {
        .mivi__mi {
            flex: 8;
            width: var(--miviwidth);
            padding-inline: calc(100vw - (var(--miviwidth)));
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            @media (max-width: 992px) {
                padding-inline: 15px;
            }
            .ola {
                right: -3%;
                top: -30%;
            }
            p{  
                display: block;
                opacity: 1;
                transition-delay: 4s;
                height: 100%;
            }
        }
        .mivi__vi {
            flex: 1;
            // width: 10%;
            background-color: var(--primary);
            // transform: translateX(41%);
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            // padding-top: 6%;
            min-width: max-content;
            overflow: hidden;
            .mivi__icon {
                img {
                    margin: 0 auto;
                }
                margin-bottom: 60px;
            }
            .ola {
                display: none;
            }
            &:hover {
                cursor: pointer;
            }
            h3 {
                color: #fff;
                writing-mode: horizontal-tb;
                // transform: rotate(270deg) translateX(-60px);
                transform: rotate(-90deg) ;
                display: inline-block;
                width: 100%;
                margin: 0 auto;
                margin-top: 60px;
                display: flex;
                transition: .3s all linear;
                transition-delay: .1s;
            }
            p {
                color: #fff;
                opacity: 0;
                display: none;
                height: 0;
            }
        }
    }
    &__vibig {
        .mivi__vi {
            flex: 8;
            width: var(--miviwidth);
            display: flex;
            flex-direction: column;
            // justify-content: center;
            overflow: hidden;
            padding-inline: calc(100vw - (var(--miviwidth)));
            @media (max-width: 992px) {
                padding-inline: 15px;
            }
            p{
                opacity: 1;
            }
        }
        .mivi__mi {
            flex: 1;
            min-width: max-content;
            background-color: var(--primary);
            // transform: translateX(-41%);
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 10;
            overflow: hidden;
            // justify-content: center;
            // padding-top: 6%;

            .ola {
                display: none;
            }
            &:hover {
                cursor: pointer;
            }
            h3 {
                color: #fff;
                writing-mode: horizontal-tb;
                transform: rotate(-90deg);
                display: inline-block;
                margin: 0;
                margin-top: 60px;
                transition: .3s all linear;
                transition-delay: 0.1s;
            }

            p {
                display: none;
                opacity: 0;
            }
        }
    }
    &__desc {
        @media (max-width: 768px) {
            min-height: 10em;
        }
    }
    &__vibig {
    }
}
