.heavydark {
    @apply text-[28px] md:text-[48px] leading-[1] text-[#002D28];
    font-family: "NuberNextHeavy", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.heavywhite {
    @apply text-[30px] md:text-[72px] leading-[1] text-white;
    font-family: "NuberNextHeavy", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.texthelvetica20 {
    @apply leading-[1.3];
    font-size: clamp(0.8rem, 2vw, 1.25rem);
    font-family: "helvetica", sans-serif;
}
.clr15op75 {
    @apply text-[#151515]  opacity-[75%];
}
.clr15op50 {
    @apply text-[#151515] opacity-[50%];
}
