.adst{
    &::before {
  content: "";
  position: absolute;
  width: 65%;
  height: 100%;
  background: #e1dcd8;
}
}

@media (max-width: 1021px) {
    .adst{
        &::before {
            width: 100%;
        }
    }
}