.goal-crd {
    img {
    }
    &__icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;

        transition: all 0.3s ease;

    }
    &__ibox {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;

    }
    &:hover {
        &__icon {
            top: 10%;
            left: 10%;
            transform: none;
        }

    }
}


.goal-crd:hover .goal-crd__ibox {
    top: 5%;
    left: 25px;
    transform: none;
        width: 75px;
        height: 75px;

}

@media (min-width: 430px) {

.ansm {
    .swiper-slide{
        // width:320px !important;
        &:hover {
            width: 430px !important;
        }
    }

}
.w800w .swiper-slide:hover {
    width: 800px !important;
  }
}
@media (max-width: 768px) {
    .goal-crd {
        &__icon {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .goal-crd .goal-crd__ibox {
        // top: 5%;
        // left: 10%;
        // transform: none;
    }
}
